spring:
  application:
    name: api-gateway
  security:
   jwt:
    key: test
    issuer: test
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:~/test;
    driver-class-name: org.h2.Driver
    username: sa
    password:

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

zuul:
  routes:
    greeting-api:
      path: /api/greeting/**
      serviceId: greeting-api
      stripPrefix: false

greeting-api:
  ribbon:
    eureka:
      enable: true
      NIWSServerListClassName: com.netflix.niws.loadbalancer.DiscoveryEnabledNIWSServerList

